.tech {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 25px;
  font-size: 0.95em;
  font-weight: 700;
}

.iconContainer {
  display: flex;
  padding: 6px;
  border-radius: 4px;
}

.tech span {
  display: inline-block;
  margin-left: 10px;
}

@media (min-width: 600px) {
  .tech {
    width: 33.33%;
    margin-bottom: 30px;
    font-size: 1.1em;
  }

  .iconContainer {
    padding: 10px;
  }
  
  .tech span {
    margin-left: 15px;
  }
}